@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #E8D8A7, #EEECDA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ff7a3783;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B83B5E;
    text-align: center;
    text-shadow: 1px 1px 0px #882c46b2;
}

h2 {
    color: #FF7837;
}
p {
    text-align: justify;
    color: #6A2C70;
}